.product-card-container {
    transition: 0.3s ease;
    overflow: hidden;
}
.product-card-container:hover {
    background: rgb(226 232 240);
}

.product-img-container {
    overflow: hidden;
}

.product-img-container img {
    transition: 0.3s ease;
}

.product-card-container:hover .product-img-container img {
    transform: scale(1.3);
}

.addto-card-btn {
    background: #e2e8f0;
    color: #000;
    transition: 0.3s ease;
}

.product-card-container:hover .addto-card-btn {
    background: #000; 
    color: #fff;
}

.addto-card-btn:hover .product-card-container {
    pointer-events: none;
}