/* form-select
form-select-label
select
select-item
reset-btn
filter-text */


/* .form-select {
    width: 150px;
}

.form-select-label {
    font-size: 14px;
}

.form-select .select {
    font-size: 14px;
    padding: 1px 0px;
}

.select .select-item {
    font-size: 7px;
}

@media only screen and (max-width: 600px) {
    .form-select {
        width: 80px;
    }
  } */
